<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://drive.google.com/file/d/1SyEi3BUrhTalCZ-a0ngJKTwbfl7tGLlg/view" type="text/css">
     <link rel="stylesheet" href="{% static "HandiCraft/base1.css" %}" type="text/css">
    <title> IN PROGRESS</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="{% static "HandiCraft/logo.png" %}" alt="Company Logo" class="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sweaters">Sweaters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/socks">Socks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vases">Vases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/earrings">Earrings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/scarfs">Scarfs</a>
      </li>
    </ul>
    <form class="form-inline my-lg-0">
      <input class="form-control" type="search" placeholder="🔍 Search for Products" aria-label="Search">
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item1">
        <div class="dropdown">
  <a class="nav-link btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="icons-nav" src="{% static "HandiCraft/user.png" %}" alt="User">
    <br> Profile
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">WELCOME <hr>
To access account and manage orders <br>
<center>
<a id="log" href="/login" style="color: rgba(154, 18, 179, 1); text-decoration-line: none;   margin-right: 20px;">Login!</a>
<a id="sign" href="/signup" style="color: rgba(154, 18, 179, 1); text-decoration-line: none;   margin-right: 20px;">Sign Up!</a>
</center>
<hr>
   </a>
    <a class="dropdown-item" href="#">Orders</a>
    <a class="dropdown-item" href="#">Saved Cards</a>
    <a class="dropdown-item" href="#">Saved Addresses</a>
  </div>
  </div>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#"> <img class="icons-nav" src="{% static "HandiCraft/sale.png" %}" alt="Sales"> <br>  Offers!</a>
      </li>
      <li class="nav-item1">
        <a class="nav-link" href="#"> <img class="icons-nav" src="{% static "HandiCraft/shopping-bag.png" %}" alt="Bag"> <br> Bag </a>
      </li>
    </ul>
  </div>
</nav>
   <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
      <hr>
     <center>
       <a href="#">Terms and Conditons</a>|<a href="#">Contact Us</a>
       <br>
       Keep in Touch 😀
       <br>
       <a href="#"> <img class="icons" src="{% static "HandiCraft/facebook.png" %}" alt="fb"> </a>
       <a href="#"> <img class="icons" src="{% static "HandiCraft/instagram.png" %}" alt="ig"> </a>
       <a href="#"> <img class="icons" src="{% static "HandiCraft/twitter.png" %}" alt="tw"> </a>
          <br>
          &copy; 2019
     </center>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   <script type="text/javascript" src="{% static "HandiCraft/main.js" %}"> </script>
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </body>
</html>
