{% extends "base.html" %}

{% block content %}
<center>
<div class="card">
<div class="card-body">
<h2>Login to HandiCraft👋</h2>
<br>
<p class="card-text">
<form>
<div class="form-group">
<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div>
<br>
<div class="form-group">
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
</div>
<br>
<div class="g-recaptcha" data-sitekey="your_site_key"></div>
<br>
<button type="submit" class="btn" id="loginbtn">Login!</button>
</form>
<br>
<a href="/recover" id="recover">Recover Password</a>
<br>
New to HandiCraft? &nbsp;
<a href="/signup" id="create">Create Account</a>
</p>
</div>
</div>
</center>
{% endblock %}
