{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
    </div>
    <div class="col-sm">
    <h2>Name</h2>
    <hr>
    Rs Price
    <br>
    <br>
    Additional tax shall apply
    <br>
    <br>
    SELECT SIZE
    <br>
    <button type="button" class="btn btn-light">S</button>
    <button type="button" class="btn btn-light">M</button>
    <button type="button" class="btn btn-light">L</button>
    <button type="button" class="btn btn-light">XL</button>
    <button type="button" class="btn btn-light">XXL</button>
    <br>
    <br>
    <button type="submit" class="btn" id="add">Add to Bag</button>
    <button type="submit" class="btn" id="buy">Buy Now!</button>
    <hr>
    PRODUCT DETAILS 🗒️
    <br>
    {{description}}
    <br>
    Material & Care
    <br>
    <br>
    Specifications
    <br>
    <br>
    Pattern &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Type
    <hr>
    Occasion &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neck
    <hr>
    Sold By &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Product Code
    <hr>
    DELIVERY OPTIONS 🚚
    <br>
    <input type="number" name="pincode" placeholder="Enter pincode">
    <button type="submit" class="btn" id="check"> <a href="#">Check</a></button>
    <br>
    Please enter PIN code to check delivery time & Cash/Card on Delivery Availability
   <br>
Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout <br>
100% Original Products <br>
    </div>
</div>
{% endblock %}