{% extends "base.html" %}

{% block content %}


{% for object in objectlist %}
<a href="#">
<div class="card" style="width: 40rem;">
  <img src="..." class="card-img-top" alt="Loading from Server ⏳">
  <div class="card-body">
    <h5 class="card-title">{{ object.name }}</h5>
    <p class="card-text">{{ object.description }}</p>
    <button type="submit" class="btn" id="add">Add to Bag</button>
    <button type="submit" class="btn" id="buy">Buy Now!</button>
  </div>
</div>
</a>

<br>
{% endfor %}

{% endblock %}
